#Mini Assignment 1: Data Structures

This copy is non-editable. To create your own copy, go to File -> Save a copy in Drive. That makes an editable copy of your own that is stored in your Google Drive.

Please add only one code cell after each question and create a program to answer the question. Make sure your code runs without error. After you are finished, run your code to display the output, then click on File -> Print -> Save as PDF to create a PDF output and upload it on Brightspace.

**NOTE:** Make sure your PDF does not have your name or any identifying information in the name or content of the file. Anonymity is essential for the peer-review process.

##List

1. Run below code to create three variables each including a list with a first name, last name, and birth-year.

In [ ]:
a = ['Xin', 'Zhu', '1990']
b = ['Sara', 'Capenter', '1991']
c = ['Mara', 'Singh', '1999']

2. Create the code that combines the above three variables into a new list that includes all the items of the three previous lists. The new list should have nine items.

In [ ]:
abc = a + b + c
print(abc)

['Xin', 'Zhu', '1990', 'Sara', 'Capenter', '1991', 'Mara', 'Singh', '1999']

3. Print the last three items in the list. Make sure you use slicing technique.

In [ ]:
print(abc[-3:])

['Mara', 'Singh', '1999']

4. Print a list including the first names of the three people. Make sure you use slicing technique.

In [ ]:
print(abc[::3])

['Xin', 'Sara', 'Mara']

5. Create a nested list that includes the three initial lists you created on the first step. It means your new nested list should have three items each of which is a list.

In [ ]:
nested_list = [a, b, c]
print(nested_list)

[['Xin', 'Zhu', '1990'], ['Sara', 'Capenter', '1991'], ['Mara', 'Singh', '1999']]

6. Print the information for the last two people from the nested list. Make sure you use slicing technique.

In [ ]:
print(nested_list[-2:])

[['Sara', 'Capenter', '1991'], ['Mara', 'Singh', '1999']]

7. Print the first name and second name of the second person from the nested list. Make sure you use slicing technique.

In [ ]:
print(nested_list[1][:2])

['Sara', 'Capenter']

8. Create and store a new list that has first name, last name and birth_year of a fourth person. Then, add this new list to your previous nested list of three people.

In [ ]:
new_list = ['Jon', 'Snow', '1988']
nested_list.append(new_list)
print(nested_list)

[['Xin', 'Zhu', '1990'], ['Sara', 'Capenter', '1991'], ['Mara', 'Singh', '1999'], ['Jon', 'Snow', '1988']]

##Dictionary

9. Create and store a dictionary that includes first name, last name, age, city of residency, job, and like that of a person. Use a proper key name for each value.

In [ ]:
new_dict = {
    'fname':'Jesse',
    'lname':'Castle',
    'age':'30',
    'city of residency':'LA',
    'job':'Data Analyst'
}

10. Print the last name of the person from the dictionary.

In [ ]:
print(new_dict['lname'])

Castle

11. Change the city of residence in the dictionary to denver.

In [ ]:
new_dict.update({'city of residency':'Denver'})
print(new_dict)

{'fname': 'Jesse', 'lname': 'Castle', 'age': '30', 'city of residency': 'Denver', 'job': 'Data Analyst'}

12. Add a new piece of info for the person to the dictionary, like favorite color.

In [ ]:
new_dict.update({'favorite color':'orange'})
print(new_dict)

{'fname': 'Jesse', 'lname': 'Castle', 'age': '30', 'city of residency': 'Denver', 'job': 'Data Analyst', 'favorite color': 'orange'}

13. Use keys() , values(), and items() methods to return the keys, values, and items in your dictionary.

In [ ]:
new_dict.keys()
new_dict.values()
new_dict.items()

dict_items([('fname', 'Jesse'), ('lname', 'Castle'), ('age', '30'), ('city of residency', 'Denver'), ('job', 'Data Analyst'), ('favorite color', 'orange')])

##Set

14. Create and store a set including different datatypes. Put some duplicate values in the set. Print the set to see the result.

In [ ]:
new_set = {1, 2, 1, 'cookie', 2.4}
print(new_set)

{1, 2, 2.4, 'cookie'}

15. **Challenge:** create a list that includes unique items of the two following lists.

In [ ]:
listone=[1,2,3,4,5,6,7]
listtwo=[4,5,6,7,8,9,10]

In [ ]:
#convert lists to two sets
set1 = set(listone)
set2 = set(listtwo)

#union operation to combine unique elements
unique_items = set1 | set2

#print results
print(unique_items)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}