#Mini Assignment 4. Function
Please add one code cell after each question and create a program to answer the question. Make sure your code runs without error. After you are finished, click on File -> Print -> Save as PDF to create a PDF output and upload it on Brightspace.

NOTE: Make sure your PDF does not have your name or any identifying information in the name or content of the file. Anonymity is essential for the peer-review process.

##Pre-defined function

1. Use [zip()](https://docs.python.org/3.3/library/functions.html#zip) function on the fname and lname lists to create fullname list. Then use the [sorted()](https://docs.python.org/3.3/library/functions.html#sorted) function to return the names sorted alphabetically.

In [ ]:
fname = ['Ashkan', 'Alex', 'Zamir', 'Xin']
lname = ['Sani', 'Wolkof', 'Zaman', 'Lee']

In [ ]:
def fullname_list(fname, lname):
  zipped_list = zip(fname, lname)
  sorted_list = sorted(zipped_list)
  return sorted_list

fullname_list(fname,lname)

[('Alex', 'Wolkof'), ('Ashkan', 'Sani'), ('Xin', 'Lee'), ('Zamir', 'Zaman')]

##User-defined functions

2. What does the following function do? Run the code and see what happens. Why does the code line 5 prints x but the code line 6 results in the "NameError: name 'x' is not defined"? Explain in few sentences here.

In [ ]:
def myfunc():
	x = 10
	print("Value inside function:",x)

myfunc()
print("Value outside function:",x)

Value inside function: 10

NameError: name 'x' is not defined

The code in line 5 prints x but the code in line 6 is raising an error because it is outside the scope of the function. The first x locally defined within the function. Line 6 has an error because it is outside the scope of the function, therefore not global. In order to fix this issue, you'd have to define x as global within the function.

3. Create a function called sumall that receives two arguments as the start number, and the stop number. The functions should return the sum of all numbers in between the two inclusive. Next, call the function to make sure it works well.

In [ ]:
def sumall(startnum, stopnum):
  sum_num = sum(range(startnum, stopnum+1))
  return sum_num

sumall(1, 9)

45

4. Create a function that receives ONE list (only one argument) and returns the list with only items that include any of the vowels in them. Vowels include a, e, i, o, u. Next call the function to make sure it works fine.

In [ ]:
random_list = ['computer', 'rhythmn', 'treasure', 'moon', 'cry', 'dry', 'gym']

def onlyvowels(random_list):
  vowel_words = []
  for word in random_list:
    for letter in word:
      if letter in 'AEIOUaeiou':
        vowel_words.append(word)
        break
  return vowel_words

onlyvowels(random_list)

['computer', 'treasure', 'moon']

## Anonymous functions

5. Use an anonymous function inside the [filter()](https://docs.python.org/3.3/library/functions.html#filter) function to filter namelist for only one-part names in the namelist. Make sure you convert the result to a list if it is not already a list.

In [ ]:
namelist = ['Arvin', 'John Paul ', 'Mary Jo', 'Kayvan',
            'Xinyu', 'Dominique', 'Daniel Dae Kim']

In [ ]:
list(filter(lambda x: ' ' not in x, namelist))

['Arvin', 'Kayvan', 'Xinyu', 'Dominique']

6. Use an anonymous function inside the [map()](https://docs.python.org/3.3/library/functions.html#map) function to add 5 units to all the items in numlist. Make sure you convert the result to a list if it is not already a list.

In [ ]:
numlist = [12, 32, 45, 6, 10, 22, 108]

In [ ]:
list(map(lambda x: x+5, numlist))

[17, 37, 50, 11, 15, 27, 113]